*{
    box-sizing: border-box ;
    font-family: sans-serif;
}
body{
    padding: 0px ;
    margin : 0px ;    
    overflow: hidden;
}
#field{
    padding : 0px           ;
    margin  : 0px           ;
    width   : 100%          ;
    height  : 100vh         ;
    z-index: 50;
    overflow: hidden !important;
}
.node {
    width:          30px;
    height:         30px;
    padding:        0.5em; 
    border-radius:  50%;
    z-index: 99;
    background-color: palevioletred;
    color: black;
    line-height: 15px;
    text-align: center;
    position: absolute!important;
    cursor: pointer;
}

.link {
    background-color: whitesmoke;
    padding: 1px;
    border-bottom:1px black solid;
    height: 1px;
    position: absolute;
    text-align: center;
    z-index: 11;
}