* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    overflow: hidden !important;
}

#field {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
    padding: 0px;
    height: 94vh;
    width: 100%;
    position: fixed;
    overflow: hidden !important;
}

.node {
    width: 35px;
    height: 35px;
    padding: 0.5em;
    border-radius: 50%;
    z-index: 2;
    background-color: palevioletred;
    color: black;
    line-height: 17.5px;
    text-align: center;
    position: absolute !important;
    cursor: pointer;
}

.node::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #4adffa;
    box-sizing: border-box;
    animation: rotate 0.5s linear infinite;
    top: 0;
    left: 0;
    display: none;
}

.node.show-border::before {
    display: block;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.link {
    background-color: whitesmoke;
    padding: 1px;
    height: 1px;
    position: absolute !important;
    text-align: center;
    border-bottom: 1px black solid;
    z-index: 1;
}

.link::before {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 98%;
    height: 15px;
    z-index: 2;
    background-image: url('./../imgs/arrow-default.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: moveLinearly 1.5s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.link.show-arrow::before {
    display: block;
}

@keyframes moveLinearly {
    to {
        transform: translateX(100%);
    }
}

.weight {
    text-align: center;
    width: 100%;
    display: block;
    z-index: 3;
    color: white;
    position: absolute;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus,
.btn:active,
.btn:hover {
    box-shadow: none !important;
    outline: 0;
}

.choices {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

.close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #cacaca;
    text-shadow: 0 1px 0 #fff;
}

.close:hover {
    color: #fffbfb;
    text-shadow: 0 1px 0 #fff;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #495057;
}

#errorMsg {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 350px;
    border-radius: 10px;
    height: 79px;
    z-index: 100;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    opacity: 0;
    display: none;
}

#altertMsg {
    text-align: center;
    width: 100%;
    font-size: large;
}

.close-popin {
    cursor: pointer;
    font-size: 20px;
}

#res {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
    width: 350px;
    height: 150px;
}

.step {
    margin-bottom: 20px;
}