*{
    box-sizing: border-box ;
    font-family: sans-serif;
}
body{
    padding: 0px;
    margin : 0px;    
    overflow: hidden;
}
#field{
    padding : 0px;
    margin  : 0px;
    width   : 100%;
    height  : 100vh;
    overflow: hidden !important;
}
.node {
    width:30px;
    height:30px;
    padding:0.5em; 
    border-radius:50%;
    z-index: 2;
    background-color: palevioletred;
    color: black;
    line-height: 15px;
    text-align: center;
    position: absolute!important;
    cursor: pointer;
}

.link {
    background-color: whitesmoke;
    padding: 1px;
    border-bottom:1px black solid;
    height: 1px;
    position: absolute !important;
    text-align: center;
    z-index: 1;
}
.weight{
    text-align: center;
    width: 100%;
    display: block;
    z-index: 3;
    color: white;
    position: absolute;
}
.choices{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-left: 40%;
}
.close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #cacaca;
    text-shadow: 0 1px 0 #fff;
  }
.close:hover{
    color: #fffbfb;
    text-shadow: 0 1px 0 #fff;
  }
.table-bordered td, .table-bordered th{border: 1px solid #495057;}
#errorMsg{
    background-color: rgb(226, 164, 169);
    border-color: rgb(134, 85, 89);
    box-shadow: ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    margin-top: 10%;
    width: 55%;
    border-radius: 10px;
    height: 90px;
    z-index: 100;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    
}